---
name: Test
on:
  workflow_call:
    inputs:
      python-version:
        required: true
        type: string
      poetry-version:
        required: true
        type: string
      project-name:
        required: true
        type: string
      project-version:
        required: true
        type: string

jobs:
  test:
    name: Perform all code tests
    runs-on: ubuntu-latest
    steps:
      - name: Set up python ${{ inputs.python-version }}
        uses: actions/setup-python@v5
        id: setup-python
        with:
          python-version: ${{ inputs.python-version }}

      - name: Pull the tests directory from the repo
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            tests
            pyproject.toml
            poetry.lock
          sparse-checkout-cone-mode: false

      - name: Initialize Poetry cache
        id: cached-poetry
        uses: actions/cache@v4
        with:
          path: ~/.local
          key: poetry${{ inputs.poetry-version }}-python${{ inputs.python-version }}-v${{ inputs.project-version }}-${{ runner.os }}-test

      - name: Install Poetry ${{ inputs.poetry-version }}
        uses: snok/install-poetry@v1
        if: steps.cached-poetry.outputs.cache-hit != true
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          virtualenvs-path: .venv
          installer-parallel: true

      - name: Initialize environment cache
        id: cached-poetry-dependencies
        uses: actions/cache@v4
        with:
          path: .venv
          key: testing-env-${{ runner.os }}-${{ inputs.python-version }}-${{ hashFiles('**/poetry.lock') }}

      - name: Initialize pytest cache
        id: pytest-cache
        uses: actions/cache@v4
        with:
          path: .pytest_cache
          key: pytest-${{ runner.os }}-${{ inputs.python-version }}-${{ inputs.project-version }}

      - name: Install testing dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: poetry install --no-interaction --no-root --with test

      - name: Verify Python version
        run: |
          python -V

      - name: Sleep to ensure PyPi package availability
        run: sleep 15s
        shell: bash

      - name: Install wheel from TestPyPi
        run: |
          poetry run pip install --index-url https://test.pypi.org/simple/ --no-deps ${{ inputs.project-name }}==${{ inputs.project-version }}

      # If all tests passed and this is an existing wheel, instruct pytest to
      # not run all tests again. Useful for non-code changes (e.g. pipeline
      # task changes)
      - name: Run failed pytest results
        run: poetry run pytest --last-failed --last-failed-no-failures none
        if: steps.pytest-cache.outputs.cache-hit == 'true'

      - name: Clear pytest cache for new builds
        run: poetry run pytest --cache-clear
        if: steps.pytest-cache.outputs.cache-hit != 'true'
